@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');


.imagelogo{
    display: flex;
    justify-content: center;
    
}

.imagelogoReg{
    display: flex;
    justify-content: flex-start;
    margin-left: 8px;
    
}

.titleRegister{
    display: flex;
    justify-content: flex-start;
    font-weight: 450;
    font-size: 30px;
    margin-left: 8px;
}

.container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
.formlogin{
    background-color: white;
    padding: 5rem;
}
.titlelogin{
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 28px;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    color: rgb(65, 65, 65);
}
.txt{
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-top: -20px;
    margin-bottom: 40px;
}
.inputtext{
    width: 400px;
    height: 50px;
    border-radius: 5px;
    padding: 10px;
    padding-left: 30px;
    font-size: 20px;
    border-width: -10px;
    border-color: #ccc5c5;
    border-style: solid;
}

.inputField{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.input_password{
    width: 400px;
    height: 50px;
    border-radius: 5px;
    padding: 10px;
    padding-left: 30px;
    font-size: 20px;
    border-width: -10px;
    border-color: #ccc5c5;
    border-style: solid;
}

.text-h3{
    color: rgb(87, 87, 87);
    font-size: 18px;
    font-weight: 600;
}
.password{
    margin-top: 15px;
}

a{
    text-decoration: none;
    margin-top: 20px;
    font-size: 20px;
    color: #2372d7
    ;
}

.input_password{
    width: 400px;
    height: 50px;
    border-radius: 5px;
    padding: 10px;
    padding-left: 30px;
    font-size: 20px;
    border-width: -10px;
    border-color: #ccc5c5;
    border-style: solid;
}

.forgotpass{
    margin-top: 20px;
}

.btn-link{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.btn-link-2{
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: flex-end;
}
.btn-show{
    background-color: #15a3e9;
    color: white;
    border-radius: 5px;
    width: 110px;
    height: 50px;
    border-color: white;
    font-size: 18px;
    margin-top: 50px;
}
.register{
    padding-top: 40px;
}

.row-input{
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
}

.input-register{
    width: 400px;
    height: 50px;
    border-radius: 5px;
    padding: 10px;
    padding-left: 30px;
    font-size: 20px;
    border-width: -10px;
    border-color: #ccc5c5;
    border-style: solid;
    margin-right: 12px;
    margin-left: 12px;
}

.input-register-mail{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    padding: 10px;
    padding-left: 30px;
    font-size: 20px;
    border-width: -10px;
    border-color: #ccc5c5;
    border-style: solid;
    margin-right: 12px;
    margin-left: 12px;
}

.container_register{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

#input-register-robot{
    border-radius: 5px;
    border-width: -10px;
    border-color: #ccc5c5;
    border-style: solid;
    display: flex;
}

.row-input-robot{
    margin-top: 30px;
    margin-bottom: 50px;
    width: 700px;
    height: 50px;
    display: flex;
    
}

.image3{
    display: flex;
    flex-direction: row;
}


#math{
    width: 90px;
    margin-left: 12px;
    height: 50px;
    font-size: 20px;
    color: red;

}

.form-register{
    background-color: white;
    padding: 2rem;
    border: 2px solid gray;
    border-radius: 5px;
    border-width: -10px;
}

.btn-cancle{
    background-color: white;
    color: black;
    border-radius: 5px;
    width: 70px;
    height: 50px;
    font-size: 18px;
    margin-top: 50px;
    margin-right: 10px;
    text-decoration: none;
}

.btn-register{
    background-color: #15a3e9;
    color: white;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    border-color: white;
    font-size: 18px;
    margin-top: 50px;
    text-decoration: none;
}






